
.swiper-button-next {
    background: url("./next.png") no-repeat;
    
    background-size: 100% auto;
    background-position: center;
  }
  
  .swiper-button-prev {
    background: url("./prev.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }